In [2]:
import pandas as pd
from pandas import DataFrame, Series
fuel = pd.read_csv("d.fuel.dat", sep=",", index_col=0)

In [5]:
fuel.shape

(60, 3)

In [9]:
fuel.loc[5]

weight     2440
mpg          32
type      Small
Name: 5, dtype: object

In [11]:
fuel.loc[1:5]

   weight  mpg   type
X
1    2560   33  Small
2    2345   33  Small
3    1845   37  Small
4    2260   32  Small
5    2440   32  Small

In [13]:
fuel["mpg"].mean()

24.583333333333332

In [15]:
fuel[7:12]["mpg"].mean()

30.2

In [16]:
fuel["t_kg"] = 0.45359 * fuel["weight"]
fuel["t_kml"] = fuel["mpg"]/3.789*1.6093

In [17]:
fuel["t_kml"].mean()

10.441266385149994

In [20]:
fuel["t_kg"].mean()

1315.7889916666668